@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

:root {
  --bck-color: hsl(240, 100%, 50%);
  --card-background: hsla(50, 50%, 50%, 0.4);
  --card-border: 2px solid hsla(50, 50%, 75%, 0.6);
  --card-shadow: 20px 20px hsl(265, 48%, 52%);
  --button-background: hsl(0, 100%, 50%);
  --button-border: hsl(14, 77%, 46%);
  --button-shadow: hsl(0, 0%, 50%);
}
* {
  font-family: 'Press Start 2P', cursive;
  box-sizing: border-box;
}

body {
  background-color: var(--bck-color);
}

.title {
  font-size: 4vw;
  text-align: center;
  margin-top: 50px;
}

.cards {
  display: flex;
  justify-content: space-around;
}

.players-cards {
  height: 500px;
  width: 400px;
  border: var(--card-border);
  border-radius: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  background-color: var(--card-background);
  box-shadow: var(--card-shadow);
}

.player {
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 2;
  align-self: center;
  justify-self: center;
  font-size: 2vw;
}

.dice {
  max-width: 100%;
  border-radius: 20px 20px 20px 20px;
  align-self: center;
  justify-self: center;
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 4;
}

.score {
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 4;
  grid-row-end: 5;
  align-self: center;
  justify-self: center;
  font-size: 1.5vw;
}

.buttons {
  display: grid;
  grid-auto-flow: row;
  align-self: center;
}

button {
  border-width: 2px;
  color: white;
  border-color: var(--button-border);
  height: 75px;
  width: 30vw;
  margin: 3vw;
  background-color: var(--button-background);
  border-radius: 20px;
  box-shadow: 10px 10px var(--button-shadow);
}
